body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #000000, #2b0a3d);
  color: white;
  text-align: center;
}

/* البداية */
.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start h1 {
  color: #b86bff;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #b86bff;
  color: black;
  margin-top: 10px;
}

/* الكويز */
.quiz {
  display: none;
  padding: 20px;
}

img {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  border: 2px solid #b86bff;
  margin: 15px 0;
}

#options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

#options button {
  background: #3a0a5c;
  color: white;
}

#options button:hover {
  background: #b86bff;
  color: black;
}

#result {
  margin-top: 10px;
  font-size: 18px;
}